* {
    box-sizing: border-box;
}

:root {
    --blue-color: #005588;
    --black-color: #000505;
    --white-color: #FDFFFF;
}

html {font-size: 100%;} /*16px*/

body {
  background-color: var(--white-color);
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  line-height: 1.65;
  color: var(--black-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5, nav, .contact {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {font-size: 1.602em;}

h3 {font-size: 1.424em;}

h4 {font-size: 1.266em;}

h5, .contact {font-size: 1.125em;}

small, .text_small {font-size: 0.889em;}

header {
    height: 100vh;
    background-color: var(--blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1, h2, nav {
    color: var(--white-color);
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
    margin: 0.3437rem 0 0.1312rem;
    text-shadow: 3px 4px 4px rgba(0,0,0,0.3);
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav ul li {
    padding: 0 0.5rem 0 0.5rem;
    margin: 0;
}

nav a {
    color: var(--white-color);
}

a {
    text-decoration: none;
    color: var(--blue-color);
}

a:focus,
a:hover {
    text-decoration: underline;
}

article {
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 70ch;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.svg-list {
    margin: 2.75rem 0 1.05rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.svg-list li {
    text-align: center;
    margin: 0.5rem;
}

.svg-list li h5 {
      margin: 1.375rem 0 0.525rem;
}

.svg-list li svg {
    height: 128px;
}

.contact {
    margin: 2.75rem 0 1.05rem;
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 1rem;
}

.contact:focus,
.contact:hover {
    color: var(--blue-color);
    background-color: var(--white-color);
    text-decoration: none;
    border: 2px solid var(--blue-color);
}

.card {
    border: 2px solid var(--blue-color);
    margin: 2.75rem 0 1.05rem;
    padding: 1rem;
    transition: box-shadow .3s;
}

.card:hover {
    box-shadow: 0 0 11px rgba(0,0,0,0.3);
}

footer p {
    text-align: center;
}

@media (min-width: 450px) {
    h1 {
      font-size: 3.052em;
    }

    h2 {font-size: 2.441em;}

    h3 {font-size: 1.953em;}

    h4 {font-size: 1.563em;}

    h5, nav, .contact {font-size: 1.25em;}

    small, .text_small {font-size: 0.8em;}
}

@media (min-width: 800px) {
    h1 {
      font-size: 5.653em;
    }

    h2 {font-size: 3.998em;}

    h3 {font-size: 2.827em;}

    h4 {font-size: 1.999em;}

    h5, nav, .contact {font-size: 1.414em;}

    small, .text_small {font-size: 0.707em;}
}